<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRESENTATION_LAYER.Properties.Settings.ACCConnectionString"
            connectionString="Data Source=.;Initial Catalog=ACC;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="PRESENTATION_LAYER.Properties.Settings.DB_dmAdvnaceConnectionString"
            connectionString="Data Source=.;Initial Catalog=DB_dmAdvnace;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="PRESENTATION_LAYER.Properties.Settings.DM_Lubricants_Tmp_1_Jan_2016ConnectionString"
            connectionString="Data Source=.;Initial Catalog=DM_Lubricants_Tmp_1_Jan_2016;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="PRESENTATION_LAYER.Properties.Settings.DM_CurrentConnectionString"
            connectionString="Data Source=.;Initial Catalog=DM_Current;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PRESENTATION_LAYER.Properties.Settings.DMConnectionString"
            connectionString="Data Source=.;Initial Catalog=DM;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="PRESENTATION_LAYER.Properties.Settings.DM_6_Sep_2018ConnectionString"
            connectionString="Data Source=.;Initial Catalog=DM_6_Sep_2018;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PRESENTATION_LAYER.Properties.Settings.DM_28_MAY_2020ConnectionString"
            connectionString="Data Source=.;Initial Catalog=DM_28_MAY_2020;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PRESENTATION_LAYER.Properties.Settings.DM_6_Sep_2018ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=DM_6_Sep_2018;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
